<!DOCTYPE html>
<html>
<head>
	<title>register</title>
	<link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" type="text/css" href="public/css/register.css">
</head>
<body>
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-offset-4 col-md-3 reg-content">
					<div class="reg-header text-center">
						<h1><a href="#" style="text-decoration: none;">Register New Acount</a></h1>
					</div>
					<div class="reg-body">
						<form action="">
						    <div class="form-group">
						      <label for="username">Firstname:</label>
						      <input type="text" class="form-control" id="firstname" placeholder="Enter your firstname." name="firstname">
						    </div>
						    <div class="form-group">
						      <label for="username">Lastname:</label>
						      <input type="text" class="form-control" id="lastname" placeholder="Enter your lastname" name="lastname">
						    </div>
						    <div class="form-group">
						      <label for="username">Email:</label>
						      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
						    </div>
						    <div class="form-group">
						      <label for="username">Phone:</label>
						      <input type="text" class="form-control" id="phone" placeholder="Enter your phonenumber" name="phone">
						    </div>
						    <div class="form-group">
						      <label for="pwd">Password:</label>
						      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
						    </div>
						    <div class="form-group">
						      <label for="pwd">RePassword:</label>
						      <input type="password" class="form-control" id="confirm_pwd" placeholder="Enter Repassword" name="confirm_pswd">
						    </div>
						    <br>	
						    <div class="form-group form-check">
						    	<a class="btn btn-primary pull-right cancel-btn" id="cancel" href="login.html">Cancel</a>
						      <a class="btn btn-primary login-btn pull-right register-btn" id="register" href="#">Register</a>
						    </div>
					    </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="../assets/global/plugins/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#login').click(function(){
			$('#is_warning').css({'display':'block', 'color': 'red'});
		});
	});
</script>
</html>